body, html {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

#content {
    flex: 1;
    color: red;
    display: flex;
    flex-direction: column;
  }

.header {
  min-height: 10vh;
  border: solid red 1px;
}

.main {
background-color: aqua;
flex: 1 0 auto;
display: grid;
grid-template-columns: 20vw 80vw;
grid-template-rows: 20vh 80vh;

}

.main .sidebar {
  background-color: blue;
  grid-column: 1 / 1;
  grid-row: 1/3
}

.main .hero {
  background-color: black;
}

.main .maincontent {
  background-color: red;
}

.footer {
  border: solid blue 1px;
  min-height: 10vh;
  flex-shrink: 0;
}