body, html {
  height: 100vh;
  --headfoot: rgb(183, 220, 245);
}

body {
  display: flex;
  flex-direction: column;
}

#content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

.header {
  font-size: 5rem;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  min-height: 10vh;
  min-width: 100vw;
  background-color: var(--headfoot);
  text-align: center;
}

.main {
background-color: aqua;
flex: 1 0 auto;
display: grid;
grid-template-columns: 20vw 80vw;
grid-template-rows: 20vh 80vh;

}

.main .sidebar {
  background-color: rgb(143, 143, 239);
  grid-column: 1 / 1;
  grid-row: 1/3
}

.main .hero {
  background-color: rgb(157, 210, 202);
}

.main .maincontent {
  background-color: rgb(207, 246, 246);
}

.footer {
  min-height: 10vh;
  flex-shrink: 0;
  background-color: var(--headfoot);
}